/* Colors:
#8783D1
#AA9ABA
#73648A
#453750
#0C0910
https://coolors.co/8783d1-aa9aba-73648a-453750-0c0910 */


body {
  /* background-color: #0C0910;
  color: white; */
  background-imange: linear-gradient(#453750, )
}

.header {
  text-align: center;
  /* background-color: #8783D1;
  color: #0C0910 */
}



.trivia-card {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}



.trivia-question {
  border: 5px solid;
  width: 40%;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.trivia-answer {
  border: 5px solid;
  width: 40%;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: black;
}

.get-answer-button {
  display: block;
  text-align: center;
}

.get-answer-button button {
  background-color: green;
}

.new-question-button {
  display: none;
  text-align: center;
}

.new-question-button button {
  background-color: blue;
}

.fyi-section {
  display: none;
}
.fyi-card {
  border: 5px solid;
  width: 85%;
  margin: 5%;
  padding: 2.5%;
}
