/* Colors:
#8783D1
#AA9ABA
#73648A
#453750
#0C0910
https://coolors.co/8783d1-aa9aba-73648a-453750-0c0910 */

/* New colors */
/* #097054
#FFDE00
#6599FF
#FF9900 */

body {
  margin: 0;
  /* padding: 1em; */
  color: white ;
}

.homepage {
  background-color: #6599FF;
  margin: 0px;
  padding-top: 5px;

}
.header {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  /* background-color: #8783D1;
  color: #0C0910 */
}



.trivia-section {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.trivia-category {
  font-size: 18px;
}

.question-card {
  border: 5px solid;
  width: 40%;
  padding: 5%;
  margin: 5%;
  background-color: #4663a2;
}

.trivia-answer {
  border: 5px solid;
  width: 40%;
  height: 100%;
  padding: 0%;
  margin: 5%;
  background-color: transparent;
  perspective: 1000px;
}

.trivia-answer-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.trivia-answer:hover .trivia-answer-inner {
  transform: rotateY(180deg);
}


.trivia-answer-front .trivia-answer-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.trivia-answer-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  border: 5px solid #FF9900;
}

.trivia-answer-back {
  background-color: #4663a2;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid;
  backface-visibility: hidden;
}

.get-answer-button {
  display: block;
  text-align: center;
}

.get-answer-button button {
  background-color: green;
}

.new-question-button {
  display: block;
  text-align: center;
  margin: 10px;
}

.new-question-button button {
  background-color: #097054;
  width: 35%;
  height: 5em;
}

button {
  color: white;
}

.fyi-card {
  border: 5px solid;
  width: 85%;
  font-size: 8px;
}


.category-span {
  font-family: Georgia;
}

.fyi-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}

.hero-card {
  width: 25%;
}

.hero-img {

}

.hero-text {
  border: solid 2px;
  text-align: center;;
}

.info-card {
  padding: 20px;
  padding-left: 15%;
}

.info-text {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    margin-right: 10%;
}

.info-text .arrow {
  border-style: solid;
  position: absolute;
}

.bottom {
  border-color: #c8c8c8 transparent transparent transparent;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
}

.default {
  display: block;
}

.speaking {
  display: none;
}

.sample {
  background-color: white;
  color: black;
  margin: 0px;
  border: none;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}



.sample-card {
  width: 70%;
  padding-left: 10px;
}

.sample-card-top {
  width: 100%;
  height: 50%;
}

.sample-card-bottom {
  width: 100%;
  height: 50%;
}
